<captor-theme-switch></captor-theme-switch>

<div style="margin: 70px 15%; height: 100%;">
  <form [formGroup]="fg" (ngSubmit)="submit()" captorForm>
    <p>Phone number:</p>
    <captor-input [required]="true" [type]="'tel'" [control]="fg.controls.tel"
      [placeholder]="'format: ( XXX ) XXX-XXXX'"></captor-input>
    <br />

    <p>SSN:</p>
    <captor-input [type]="'ssn'" [control]="fg.controls.ssn"></captor-input>
    <br />

    <p>Email:</p>
    <captor-input [type]="'email'" [control]="fg.controls.email"></captor-input>
    <br />

    <p>Date:</p>
    <captor-date [control]="fg.controls.date"></captor-date>
    <br />

    <p>Date with Min/Max and required validation:</p>
    <captor-date [control]="fg.controls.dateMinMax" [maxDate]="maxDate" [minDate]="minDate" [required]="true">
    </captor-date>
    <br />

    <p>Date Range:</p>
    <captor-date [type]="'dateRange'" [control]="fg.controls.dateRange">
    </captor-date>
    <br />

    <p>Date Range with Min/Max and required validation:</p>
    <captor-date [type]="'dateRange'" [control]="fg.controls.dateRangeMinMax" [maxDate]="maxDate" [minDate]="minDate"
      [required]="true">
    </captor-date>
    <br />

    <p>Textarea with disabled and predefined value:</p>
    <captor-input [type]="'textarea'" [disabled]="true" [readonly]="true" [control]="fg.controls.textarea">
    </captor-input>
    <br />

    <p>ZipCode:</p>
    <captor-input [type]="'zipcode'" [control]="fg.controls.zipcode">
    </captor-input>
    &nbsp;
    <captor-input [type]="'zipcodeExt'" [control]="fg.controls.zipcodeExt">
    </captor-input>
    <br />

    <p>Input with min length and max length:</p>
    <captor-input [control]="fg.controls.default" [maxLen]="10" [minLen]="5">
    </captor-input>

    <p>Number:</p>
    <captor-input [control]="fg.controls.number" type="number">
    </captor-input>
    <br />

    <p>Single select:</p>
    <captor-select [placeholder]="'single one'" [required]="true" [control]="fg.controls.singleSelect"
      [entries]="selectEntries">
    </captor-select>
    <br />

    <p>Multi select:</p>
    <captor-select [placeholder]="'select multi'" [control]="fg.controls.multiSelect" [multi]="true"
      [entries]="selectEntries">
    </captor-select>
    <br />

    <button type="reset" mat-flat-button color="accent">
      <mat-icon>replay</mat-icon>Reset
    </button> &nbsp;

    <button type="submit" mat-flat-button color="primary">
      <mat-icon>search</mat-icon>Submit
    </button>
  </form>
</div>